.ui-page {
    background: transparent;
	background : transparent url(../img/ppc_fondo.png)  no-repeat fixed;
	width: 100%;
	background-size: 100% 100%; 
}
.ui-content{
	background-image:url(../img/ppc_fondo.png)
    background: transparent;
}
.borde{
border:1px  solid gray	
	}